body {
  background-color: black;
  text-align: center;
  width:70%;
  margin: auto;
}

#title {
	position: absolute;
		left: 50%;
		transform: translate(-50%, 10%);
		
  font-family: 'Codystar', cursive;
    color: #FFA500;  
    font-size: 30pt;
}

#holder {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  font-family: 'Codystar', cursive;
    color: #FFA500;
	  font-size: 20pt;
}

#josh {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
  
  font-family: 'Sacramento', cursive;
    color: #FFA500;
    font-size: 20pt;
}
