body {
  background-color: black;
  text-align: center;
  width:70%;
  margin: auto;
}

@font-face{

    font-family: 'vms';
    src: url('../fonts/vms.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{

    font-family: 'transportheavy';
    src: url('../fonts/transport heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#title {
	position: absolute;
		left: 50%;
		transform: translate(-50%, 10%);

  font-family: 'transportheavy';
    color: #FFA500;
    font-size: 30pt;
}

#holder {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  font-family: 'vms', cursive;
    color: #FFA500;
	  font-size: 20pt;
}

#josh {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);

  font-family: 'Sacramento', cursive;
    color: #FFA500;
    font-size: 20pt;
}
